# An example .env file you can modify
APPCONFIG_ENDPOINT=https://my-app-config-instance.azconfig.io

# Add "overridden" to your app configuration instance to see how environment variables can override
OVERRIDDEN=true